body{
    width: 98%;
    background-color: white;
    background-image: url("bg3.jpg");
    
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    width: 100%;
    margin-top: 0px;
}

.wrapper_pgs{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.containertexto{
    color: rgb(76, 76, 77);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    width: 90%;
    word-wrap: break-Word;
    text-align: left;
}

.containertexto_pg{
    color: rgb(76, 76, 77);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    line-height: 1.5;
    width: 90%;
    word-wrap: break-Word;
    text-align: left;
    margin-left: 15px;
    margin-top: -150px;
}

.banner{
    
    height: 300px;
    align-items: center;
    margin-top: 0px;
}

.topointerno {
    background-color: rgb(71, 1, 1);
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    width: 98%;
    height: 30px;
}

.texttopo{
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: left;
}
